.main {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f567ae;
  
  // Add code for the h1 tag here
  h1 {
    color: #f8f8f8;
    font-size: 34px;
  }
  
  
  // Add code for the p tag here
  p {
    color: #efefef;
    font-size: 16px;
  }
  
}
