<div class="main users-edit">
  <div class="container">
    <div class="form-heading">Edit Account</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
      
        <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
          <p>Name</p>
          <input name="name" value="<%= @user.name %>">
          <p>Image</p>
          <input name="image" type="file">
          <p>Email</p>
          <input name="email" value="<%= @user.email %>">
          <input type="submit" value="Save">
        <% end %>
      </div>
    </div>
  </div>
</div>