<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <%= link_to("Edit", "/users/#{@user.id}/edit") %>
    </div>
  </div>
</div>