<header>
  <div class="header-logo">
    <!-- Make this a link to the "top" page -->
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <!-- Make this a link to the "about" page -->
      <a href="/about">About</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>About TweetApp</h2>
  <p>
    TweetApp is a social networking service.
    Users can post and interact with short messages called "tweets".
  </p>
  <img class="about-img" src="/tweets.png">
</div>